#root {
  height: 100%;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.App {
  width: 100%;
  height: 100%;
  position: relative;
}
/*
THIS IS COMPONENT CSS
*/
.duel-display-container-top {
  display: flex;
  flex-direction: column;
}
.display-reverse {
  display: flex;
  flex-direction: column-reverse;
  padding: .125em;
}
.display-interact {
  display: flex;
  justify-content: space-around;
  margin-left: 79%;
  padding: 0.5em;
}
/* OVERWRITE FOR BOTTOM DISPLAY */
.display-reverse > .display-interact {
  margin-left: 0;
  margin-right: 79%;
}
.duel-display {
  display: flex;
  position: relative
}
/* OVERWRITE FOR BOTTOM DISPLAY */
.display-reverse > .duel-display {
  flex-direction: row-reverse;
}
.duel-display-name {
  min-width: 9rem;
  max-width: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}
.life-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 3em;
  color: whitesmoke;
  outline: solid 2px #199477;
  border-radius: 1em;
}
.display-reverse > .duel-display > .life-bar {
  justify-content: end;
}
.life-bar-fill {
  border-radius: 0.875em;
  height: 100%;
  background: rgb(43, 155, 58);
}
.life-bar-fill.player1 {
  width: 100%;
}
.life-bar-fill.player2 {
  width: 100%;
}
.lp-ammount {
  position: absolute;
  display: flex;
  height: 100%;
  padding-left: 1em;
  align-items: center;
  font-size: xx-large;
}
.display-reverse > .duel-display > .life-bar > .lp-ammount {
padding-left: 0;
padding-right: 1em;
}

.duel-grid-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.displayArea-middle {
  display: flex;
  justify-content: space-around;
  border: #06a84a 1px solid;
} 

.display-left {
  /* position: absolute; */
  transform: rotate(90deg);

  width: 100%;
  /* left: 0; */
}
.display-right {
  /* position: absolute; */
  transform: rotate(-90deg);
  width: 100%;
  /* right: 0; */
}


/* MODAL CSS */
.modal-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* CALC STUFF */

.calculator {
  border: #0c7c3b solid 2px;
  background-color: #071b17;
  width: 75%;
}
.calc-screen {
  background-color: #071b17;
  padding: 0.5em;
  font-size: 20px;
  text-align: right ;
  width: 80%;
}
.calc-top {
  display: flex;
}
.calc-row {
  display: flex;
}
.calc-button {
  padding: 1em 2em;
  width: 100%;
  background-color: #02281f;
  border: #06a84a solid 1px;
}
.calc-top > .calc-button {
  width: 20%;
}

/* LOGS CSS */
.log {
  width: 85%;
  background-color: #071b17;
  border: #0c7c3b 1px solid;
  overflow-y: auto;
  padding: 1em 0;
  line-height: 1.5em;
}
.log-entry {
    display: flex;
    flex-direction: column;
    padding: 0.5em 0;
}

/* DICE CSS */
.dice {
  width: 65%;
  background-color: #071b17;
  border: #0c7c3b 1px solid;
  overflow-y: auto;
  padding: 1em 0;
  line-height: 1.5em;
}