#root {
  height: 100%;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.App {
  width: 100%;
  height: 100%;
  position: relative;
}
/*
THIS IS COMPONENT CSS
*/
.duel-display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.display-area {
  display: flex;
  position: relative;
  width: 100%;
}
.display-reverse {
  display: flex;
  flex-direction: column-reverse;
  padding: 0.125em;
}
/* DISPLAY AREA BUTTON CONTAINER */
.display-interact {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
  width: 100%;
}
/* OVERWRITE FOR BOTTOM DISPLAY */
.display-reverse > .display-interact {
  margin-left: 0;
  justify-content: flex-start;
}
/* OVERWRITE FOR BOTTOM DISPLAY */
.display-reverse > .display-area {
  flex-direction: row-reverse;
}
.display-interact > button {
  margin: 0em 0.5em;
}
.duel-display-name {
  min-width: 9rem;
  max-width: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}

.life-bar-container {
  width: 100%;
  display: flex;
}
.life-bar {
  width: 100%;
  min-height: 3em;
  border: solid 2px #199477;
  border-radius: 5em;
  padding: 0.5em;
}
.display-reverse > .display-area > .life-bar-container {
  flex-direction: row-reverse;
}
.life-bar-fill {
  border-radius: 0.875em;
  height: 100%;
  background: rgb(43, 155, 58);
}
.life-bar-fill.player1 {
  width: 100%;
}
.life-bar-fill.player2 {
  width: 100%;
}
.lp-ammount {
  display: flex;
  height: 100%;
  max-width: 3em;
  min-width: 3em;
  padding-left: 1em;
  align-items: center;
  font-size: xx-large;
}
.display-reverse > .display-area > .life-bar-container > .lp-ammount {
  padding-left: 0;
  padding-right: 1em;
}

.duel-grid-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.displayArea-middle {
  display: flex;
  justify-content: space-around;
  border: #06a84a 1px solid;
}

.display-left {
  transform: rotate(90deg);
  width: 100%;
}
.display-right {
  transform: rotate(-90deg);
  width: 100%;
}

/* MODAL CSS */
.modal-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* CALC STUFF */

.calculator {
  border: #0c7c3b solid 2px;
  background-color: #071b17;
  width: 75%;
}
.calc-screen {
  background-color: #071b17;
  padding: 0.5em;
  font-size: 20px;
  text-align: right;
  /* width: 80%; */
  flex: 55;
}
.calc-top {
  display: flex;
}
.calc-row {
  display: flex;
  width: 100%;
}
.calc-button {
  /* padding: 1em 2em; */
  background-color: #02281f;
  border: #06a84a solid 1px;
  flex: 1;
}
.calc-top > .calc-button {
  /* width: 20%; */
  flex: 4 0 auto;
}

/* LOGS CSS */
.log {
  width: 85%;
  background-color: #071b17;
  border: #0c7c3b 1px solid;
  overflow-y: auto;
  padding: 1em 0;
  line-height: 1.5em;
}
.log > button {
  width: 100%;
  background: inherit;
  padding: 0;
}
.log-entry {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0;
}

/* DICE CSS */
.dice {
  width: 65%;
  background-color: #071b17;
  border: #0c7c3b 1px solid;
  overflow-y: auto;
  padding: 1em 0;
  line-height: 1.5em;
}
