#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/*
THIS IS COMPONENT CSS
*/
.duel-display {
  padding: 2em;
  width: 15em;
  color: #213547;
  border: solid 2px #02281f;
  border-radius: 1em;
  background-color: #2f3c47;
}
.display-flex {
  display: flex;
  flex-direction: column;
}

/*
THIS IS CUSTOM CSS
*/

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
